<% provide(:poo, "Contact") %>

<h2>Contact</h2>
<p>Come Buy Me</p>

    <%= link_to "help", static_pages_help_path  %>
    <%= link_to "about", static_pages_about_path  %>
    <%= link_to "Home", root_path  %>
